html {
  font-size: 10px;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #000;
  background-color: #f5f5f8;
  margin: 0;
}
.navigation {
  padding-top: 2rem;
  position: fixed;
  width: 100%;
  z-index: 500;
}
.navigation-img.back {
  display: none;
}
.navigation-link {
  display: inline-block;
  color: #000;
  font-size: 1.9rem;
  font-weight: bold;
  padding-top: 1.5rem;
  text-decoration: none;
  margin-left: 3rem;
}
.navigation-link:hover {
  color: #dadadd;
  text-decoration: none;
}
.navigation-link.back {
  color: #fff;
}
.navigation-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
}
.navigation-arrow {
  display: none;
}
.navigation-arrow.back {
  display: block;
}
.header {
  padding-top: 37rem;
  text-align: center;
  margin-bottom: 39.5rem;
}
.header-title {
  font-weight: bold;
  line-height: 5rem;
  font-size: 4.6rem;
}
.header-img {
  margin-top: 2.5rem;
}
.projects {
  padding-top: 6rem;
  background-color: #fff;
}
.projects-img {
  display: inline-block;
  margin-bottom: 3rem;
  margin-right: 2rem;
  max-width: 100%;
  min-width: 100%;
}
.projects-img-cat {
  position: relative;
  margin-top: -38.5rem;
  max-height: 33.5rem;
}
.projects-active {
  width: 100%;
  height: 100%;
  margin-right: 2rem;
  background-color: #000;
}
.projects-active:hover {
  opacity: 1;
  cursor: pointer;
  background-color: #000;
  background: #000000;
  transition: all 0.3s ;
}
.projects-active:hover p {
  opacity: 1;
}
.projects-active:hover h3 {
  opacity: 1;
}
.projects-active h3 {
  font-size: 2rem;
  font-weight: bold;
  opacity: 0;
  text-align: center;
  color: #fff;
}
.projects-active p {
  font-size: 1.6rem;
  opacity: 0;
  text-align: center;
  color: #fff;
}
.projects-first {
  background: url(../img/projects/1.png) no-repeat center;
  background-size: cover;
  height: 38rem;
}
.projects-first h3 {
  padding-top: 16rem;
}
.projects-second {
  background: url(../img/projects/2.png) no-repeat center;
  background-size: cover;
  height: 38rem;
}
.projects-second h3 {
  padding-top: 16rem;
}
.projects-third {
  background: url(../img/projects/3.png) no-repeat center;
  background-size: cover;
  height: 38rem;
}
.projects-third h3 {
  padding-top: 16rem;
}
.projects-fourth {
  background: url(../img/projects/4.png) no-repeat center;
  background-size: cover;
  height: 38rem;
}
.projects-fourth h3 {
  padding-top: 16rem;
}
.projects-fifth {
  background: url(../img/projects/5.png) no-repeat center;
  background-size: cover;
  height: 38rem;
}
.projects-fifth h3 {
  padding-top: 16rem;
}
.projects-sixth {
  background: url(../img/projects/6.png) no-repeat center;
  background-size: cover;
  height: 80rem;
}
.projects-sixth h3 {
  padding-top: 36rem;
}
.projects-seventh {
  background: url(../img/projects/7.png) no-repeat center;
  background-size: cover;
  height: 38rem;
}
.projects-seventh h3 {
  padding-top: 16rem;
}
.projects-eighth {
  background: url(../img/projects/8.png) no-repeat center;
  background-size: cover;
  height: 38rem;
}
.projects-eighth h3 {
  padding-top: 16rem;
}
.projects-ninth {
  background: url(../img/projects/9.png) no-repeat center;
  position: relative;
  background-size: cover;
  height: 38rem;
  top: -38rem;
}
.projects-ninth h3 {
  padding-top: 16rem;
}
.proverka {
  margin-bottom: 3rem;
}
.contact {
  padding-bottom: 10rem;
}
.contact-name {
  padding-top: 10rem;
  font-size: 5.8rem;
  font-weight: bold;
  margin-bottom: 8.5rem;
}
.contact-title {
  font-weight: bold;
  font-size: 2.1rem;
  margin-bottom: 4.5rem;
  text-transform: uppercase;
}
.contact-paragraph {
  font-size: 1.8rem;
  max-width: 22rem;
  margin-bottom: 4rem;
}
.contact-link {
  display: block;
  text-decoration: none;
  color: #000;
  font-size: 1.8rem;
  margin: 0;
  margin-bottom: 4rem;
}
.contact-link:hover {
  text-decoration: none;
  color: #dadadd;
}
.contact-form-input {
  display: block;
  width: 100%;
  outline: none;
}
.input-name {
  padding: 1rem 1.5rem;
  margin-bottom: 1.2rem;
}
.input-message {
  padding: 1rem 1.5rem;
  margin-bottom: 2rem;
  resize: none;
}
.button {
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  font-size: 1.8rem;
  background-color: #000;
  border: none;
  padding: 1rem 1.5rem;
}
.back {
  background-color: #231f20;
}
.work-first {
  display: none;
  background-color: #fff;
  padding-bottom: 30rem;
}
.work-img {
  background: url(../img/work.png) no-repeat center;
  background-size: cover;
  height: 47rem;
}
.work-title {
  padding-top: 18rem;
  font-size: 3rem;
  font-weight: bold;
}
.work-paragraph {
  font-size: 1.6rem;
}
.work-back {
  text-align: center;
  padding-top: 22rem;
}
.work-back h3 {
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: bold;
}
.work-back-content:hover {
  cursor: pointer;
}
.work-button {
  margin-top: 40rem;
}
.hide {
  display: none;
}
.hide-no {
  display: block;
}
@media (max-width: 1024px) {
  .projects-img-cat {
    margin-top: -33rem;
    max-height: 28rem;
  }
}
@media (max-width: 768px) {
  .projects-sixth {
    margin-bottom: 3rem;
    background-size: contain;
  }
  .projects-seventh {
    background-size: cover;
    height: 38rem;
    margin-bottom: 3rem;
  }
  .projects-eighth {
    margin-bottom: 3rem;
  }
  .projects-eighth h3 {
    padding-top: 16rem;
  }
  .projects-ninth {
    top: 0rem;
    margin-bottom: 3rem;
  }
  .contact-form-input {
    width: 80%;
  }
  .work-first {
    padding-bottom: 15rem;
  }
  .work-back {
    padding-top: 10rem;
  }
}
@media (max-width: 417px) {
  .navigation {
    padding-top: 1.5rem ;
  }
  .navigation-link {
    display: inline-block;
    color: #000;
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: none;
    margin-left: 1rem;
    padding-top: 0;
  }
  .navigation-link:hover {
    color: #dadadd;
    text-decoration: none;
  }
  .navigation-arrow.back {
    display: block;
  }
  .navigation-block {
    padding-bottom: 2rem;
  }
  .header {
    padding-top: 17rem;
    margin-bottom: 17rem;
  }
  .header-title {
    line-height: 4rem;
    font-size: 3.4rem;
  }
  .header-img {
    margin-top: 1.3rem;
  }
  .projects-active h3 {
    font-size: 1.4rem;
  }
  .projects-active p {
    font-size: 1rem;
  }
  .projects-third {
    background: url(../img/projects/3.png) no-repeat center;
    background-size: cover;
    height: 19rem;
  }
  .projects-third h3 {
    padding-top: 8rem;
  }
  .projects-fourth {
    background: url(../img/projects/4.png) no-repeat center;
    background-size: cover;
    height: 19rem;
  }
  .projects-fourth h3 {
    padding-top: 8rem;
  }
  .projects-fifth {
    background: url(../img/projects/5.png) no-repeat center;
    background-size: cover;
    height: 38rem;
  }
  .projects-fifth h3 {
    padding-top: 16rem;
  }
  .projects-sixth {
    background: url(../img/projects/6.png) no-repeat center;
    background-size: cover;
    height: 80rem;
  }
  .projects-sixth h3 {
    padding-top: 36rem;
  }
  .projects-seventh {
    background: url(../img/projects/7.png) no-repeat center;
    background-size: cover;
    height: 38rem;
  }
  .projects-seventh h3 {
    padding-top: 16rem;
  }
  .projects-eighth {
    background: url(../img/projects/8.png) no-repeat center;
    background-size: cover;
    height: 38rem;
  }
  .projects-eighth h3 {
    padding-top: 16rem;
  }
  .projects-ninth {
    background: url(../img/projects/9.png) no-repeat center;
    position: relative;
    background-size: cover;
    height: 38rem;
  }
  .projects-ninth h3 {
    padding-top: 16rem;
  }
  .work-first {
    padding-bottom: 5rem;
  }
  .work-back {
    padding-top: 5rem;
  }
  .work-title {
    padding-top: 5rem;
  }
}
